.project
.pydevproject
*/*.log
*/*.pyc
*.pyc
venv
build/
dist/
.coverage
*.whl
*.bin
.ebignore
.elasticbeanstalk/


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
